.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem .dialog {
    padding: 5px;
}

.dialogsItem .active {
    color: gold;
}

.dialogsItem img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.messages {

}

.messages .message1{

}

.messages .message2{
    text-align: end;
}